.privatemsgMessagesBodyItemIcon,
.privatemsgSexBody,
.privatemsgIcon,
.privatemsgIconBg,
.privatemsgSex,
.privatemsgSexShadow,
.whoisAvatarBox>div:nth-child(1),
.whoisAvatarBox>div:nth-child(1)>div:nth-child(1)/*,
.room_chat_content>div:nth-child(1)>div:nth-child(1),
.room_chat_content>div:nth-child(1)>div:nth-child(2),
.room_chat_content>div:nth-child(1)>div:nth-child(3)*/ {
    display: none !important;
}

.privatemsgInfo {
    width: 250px !important;
}

.privatemsgCloseWraper,
.privatemsgInfo {
    /*background: rgba(48,48,48) !important;*/
    background: #303030 !important;
}

.privatemsgCloseWraper {
    width: 50px !important;
}

.systemCardMediaShare,
.privatemsgMessagesBodyItemBody>div:nth-child(1)>div:nth-child(1),
.room_chat_content {
    border-radius: 10px 10px 10px 0px !important;
}

.room_chat_content[style*=margin-left]>div:nth-child(2)>div:nth-child(1),
.privatemsgMessagesBodyItemBody[style*="float:right;"]>div:nth-child(1)>div:nth-child(1),
.room_chat_content[style*=margin-left] {
    border-radius: 10px 10px 0px 10px !important;
}

#helpHolder>div:nth-child(4)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1),
#helpHolder>div:nth-child(5)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1),
#roominfoHolder>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1),
.room_chat_content[style*=margin-left]>div:nth-child(3) {
    border-radius: 10px 0px 0px 10px !important;
}

#helpHolder>div:nth-child(4)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:nth-child(6),
/*此项目会与检察官 房间通知 DIV 产生冲突，故注释，之后寻找其他方法*/
/*#helpHolder>div:nth-child(5)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:nth-child(5),*/
.systemCardMediaShareImg {
    border-radius: 0px 10px 10px 0px !important;
}

.whoisC>div:nth-child(1)>div:nth-child(2) {
    border-radius: 25% !important;
}

#moveinputBubble {
    border-radius: 0px 10px 0px 0px !important;
}

.mapHolderRoomListItem>div:nth-child(1)>div:nth-child(1),
.followName>div:nth-child(1),
#makeMoneyHolder>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1),
.commonBoxHead {
    border-radius: 10px 10px 0px 0px !important;
}

.commonBox>div:nth-child(2) {
    border-radius: 0px 0px 10px 10px !important;
}

/*#lockScreenHolder>div:nth-child(2)>div:nth-child(1)>div:nth-child(1),*/
#makeMoneyHolder>div:nth-child(3)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1),
#selectHolderBox,
#initshowLoadBody,
#bankHolder,
#stockHolder,
#shellHolder,
#paintHolder,
#gameEmulatorHolder,
#browserHolder,
#translateHolder,
#symbolsHolder,
#pairHolder,
#noteHolder,
.whoisInfoBox>div>div,
.whoisC>div:nth-child(1),
.whoisC,
.pubMsgTimeBody,
.priMsgImg,
.pubMsgImg,
.emojiMsgImg,
.emojiImg,
.demandHolderItem,
.mapHolderRoomListItem,
.panelHolderItemSmall,
.maxWidth_24,
.commonBox,
.cardTag,
.userholder,
.otherroom,
.mapHolderRoomListItem,
.followName,
.privatemsg {
    border-radius: 8px !important;
}

.privatemsgNameContent {
    width: 80px;
    overflow: inherit !important;
}

#userREHolder>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1),
#userREHolder>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1),
.cardTagAvatar,
.whoisAvatarBox,
.ExtIconSettings,
.whoisAvatar,
.danmakuAvatar,
.msgavatar {
    border-radius: 50% !important;
}

.roomavatar>div:nth-child(1) {
    border-radius: 25% !important;
}

#initshowBoxContent>div:nth-child(2)>div:nth-child(2) {
    border: 0px !important;
}

/*.msg[data-id^="56c9c1bf05262"],
.msg[data-id^="5bba34bd423d8"],*/
.msg[data-id^="5eb9330b844ef"],
.msg[data-id^="5eb933687020e"],
.msg[data-id^="5eb933bc97240"],
.msg[data-id^="5eb933ffa127d"],
.msg[data-id^="5eb9344c0cb93"]/*,
.msg[data-id^="5eb934aca592e"]*/ {
    display: none !important;
}