/* R-Project 1.2.0
Made ❤ with Saiki */


/* 
    请务必使用 黑暗主题 
    关闭 沉浸模式
    开启 透明模式
    或者 沉浸模式
*/

@charset "utf-8";
.commonColor {
    color: rgba(255, 255, 255, .5) !important;
}

.shopItemColor>div:nth-child(1)>div:nth-child(1)>div:nth-child(1)>img,
#userREHolder>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1),
#userREHolder>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1),
.cardTagAvatar,
.whoisAvatarBox,
.ExtIconSettings,
.whoisAvatar,
.danmakuAvatar,
.msgavatar {
    border-radius: 50% !important;
    overflow: hidden !important;
}

.privatemsgInfo {
    width: 300px !important;
}

.privatemsgCloseWraper {
    width: 50px !important;
}

.privatemsgMessagesBodyItemIcon,
.privatemsgSexBody,
.privatemsgIcon,
.privatemsgIconBg,
.privatemsgSex,
.privatemsgSexShadow,
.whoisAvatarBox>div:nth-child(1),
.whoisAvatarBox>div:nth-child(1)>div:nth-child(1) {
    display: none !important;
}

.privatemsgInfo,
.room_chat_content,
.privatemsgMessagesBodyItemBodyBG,
#panelHolder .panelHolderItem>.contentItemBgicon,
#panelHolder .panelHolderItem>.fullBox>.contentItemBgicon,
#danmakuHolder,
#selectHolderBox,
.privatemsgMessages,
.privatemsgFooter,
.privatemsgMessagesBodyItemBodyBG>div:nth-child(1)[style*=right]>div:nth-child(3),
.room_chat_content>div:nth-child(1)[style*=right]>div:nth-child(3),
.privatemsgMessagesBodyItemBodyBG>div:nth-child(1)[style*=right]>div:nth-child(3),
.room_chat_content>div:nth-child(1)[style*=right]>div:nth-child(3),
.contentItemContent>div:nth-child(1) {
    backdrop-filter: blur(8px);
}

#panelHolder .panelHolderItem>.contentItemBgicon,
#panelHolder .panelHolderItem>.fullBox>.contentItemBgicon {
    background: transparent;
}


/* .privatemsgMessagesBodyItemBodyBG,
.room_chat_content {
    background-color: rgba(32, 32, 32, 0.8) !important;
}
.privatemsgMessagesBodyItemBodyBG>div:nth-child(1)>div:nth-child(3),
.room_chat_content>div:nth-child(1)>div:nth-child(3) {
    border-color: rgba(32, 32, 32, 0.8) !important;
} */

.privatemsgMessagesBodyItemBodyBG>div:nth-child(1)>div:nth-child(3),
.room_chat_content>div:nth-child(1)>div:nth-child(3) {
    border-width: 5.8125px !important;
    border-top-color: transparent !important;
}

.privatemsgMessagesBodyItemBodyBG>div:nth-child(1)[style*=right]>div:nth-child(3),
.room_chat_content>div:nth-child(1)[style*=right]>div:nth-child(3) {
    border-right-color: transparent !important;
}

.privatemsgMessagesBodyItemBodyBG>div:nth-child(1)[style*=left]>div:nth-child(3),
.room_chat_content>div:nth-child(1)[style*=left]>div:nth-child(3) {
    border-left-color: transparent !important;
}


/* OR */

.privatemsgMessagesBodyItemBodyBG,
.room_chat_content {
    background-color: rgba(32, 32, 32, 1) !important;
}

.privatemsgMessagesBodyItemBodyBG>div:nth-child(1)>div:nth-child(3),
.room_chat_content>div:nth-child(1)>div:nth-child(3) {
    border-color: rgba(32, 32, 32, 1) !important;
}

.roomChatContentBox {
    opacity: 0.9;
}