/* R-Project 1.2.0
Made ❤ with Saiki */


/* 圆角，让花园更加md */

@charset "utf-8";

/*.room_chat_content>div:nth-child(1)>div:nth-child(1),
.room_chat_content>div:nth-child(1)>div:nth-child(2),
.room_chat_content>div:nth-child(1)>div:nth-child(3),*/

.privatemsgMessagesBodyItemIcon,
.privatemsgSexBody,
.privatemsgIcon,
.privatemsgIconBg,
.privatemsgSex,
.privatemsgSexShadow,
.whoisAvatarBox>div:nth-child(1),
.whoisAvatarBox>div:nth-child(1)>div:nth-child(1) {
    display: none !important;
}

.privatemsgInfo {
    width: 250px !important;
}

.privatemsgCloseWraper,
.privatemsgInfo {
    /*background: rgba(48,48,48) !important;*/
    background: #303030 !important;
}

.privatemsgCloseWraper {
    width: 50px !important;
}

.room_chat_content[style*=margin-left]>div:nth-child(2)>div:nth-child(1),
.privatemsgMessagesBodyItemBody[style*="float:right;"]>div:nth-child(1)>div:nth-child(1),
.room_chat_content[style*=margin-left] {
    border-radius: 8px 8px 0px 8px !important;
}

.systemCardMediaShare,
.privatemsgMessagesBodyItemBody>div:nth-child(1)>div:nth-child(1),
.room_chat_content {
    border-radius: 8px 8px 8px 0px !important;
}

#helpHolder>div:nth-child(4)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1),
#helpHolder>div:nth-child(5)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1),
#roominfoHolder>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1),
.room_chat_content[style*=margin-left]>div:nth-child(3) {
    border-radius: 8px 0px 0px 8px !important;
}

#helpHolder>div:nth-child(4)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:nth-child(6),

/*此项目会与检察官 房间通知 DIV 产生冲突，故注释，之后寻找其他方法*/


/*#helpHolder>div:nth-child(5)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:nth-child(5),*/

.systemCardMediaShareImg {
    border-radius: 0px 8px 8px 0px !important;
}

.whoisC>div:nth-child(1)>div:nth-child(2) {
    border-radius: 25% !important;
}

#moveinputBubble {
    border-radius: 0px 8px 0px 0px !important;
}

.mapHolderRoomListItem>div:nth-child(1)>div:nth-child(1),
.followName>div:nth-child(1),
#makeMoneyHolder>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1),
.commonBoxHead {
    border-radius: 8px 8px 0px 0px !important;
}

.commonBox>div:nth-child(2) {
    border-radius: 0px 0px 8px 8px !important;
}


/*#lockScreenHolder>div:nth-child(2)>div:nth-child(1)>div:nth-child(1),*/

#makeMoneyHolder>div:nth-child(3)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1),
#selectHolderBox,
#initshowLoadBody,
#bankHolder,
#stockHolder,
#shellHolder,
#paintHolder,
#gameEmulatorHolder,
#browserHolder,
#translateHolder,
#symbolsHolder,
#pairHolder,
#noteHolder,
.whoisInfoBox>div>div,
.whoisC>div:nth-child(1),
.whoisC,
.pubMsgTimeBody,
.pubMsgSystemBody,
.priMsgImg,
.pubMsgImg,
.emojiMsgImg,
.emojiImg,
.demandHolderItem,
.mapHolderRoomListItem,
.panelHolderItemSmall,
.maxWidth_24,
.commonBox,
.cardTag,
.userholder,
.otherroom,
.mapHolderRoomListItem,
.followName,
.privatemsgMessagesTimeBody,
.privatemsgMessagesSystemBody,
.privatemsg {
    border-radius: 8px !important;
}

.privatemsgNameContent {
    width: 80px;
    overflow: inherit !important;
}

#userREHolder>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1),
#userREHolder>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1),
.cardTagAvatar,
.whoisAvatarBox,
.ExtIconSettings,
.whoisAvatar,
.danmakuAvatar,
.msgavatar {
    border-radius: 50% !important;
    overflow: hidden !important;
}

.roomavatar>div:nth-child(1) {
    border-radius: 25% !important;
}

#initshowBoxContent>div:nth-child(2)>div:nth-child(2) {
    border: 0px !important;
}